header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
}

table {
  white-space: nowrap;
  border-width: 2px;
  border-collapse: collapse;
}

th {
  border: solid 2px black;
}

td {
  border: solid 2px black;
}
