header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

body {
    font-family: "MS 明朝";
}

table {
    white-space: nowrap;
    border-width: 2px;
    border-collapse: collapse;
    text-align: left;
}

th {
    border: solid 2px black;
}

td {
    border: solid 2px black;
}

li.post-error-list {
    color: red;
    font-weight: bold;
}

button {
    display: inline-block;
}

.select-box {
    width: 200px;
}

.add-button {
    margin-left: 500px;
}

.no-data-message {
    display: none;
    color: red;
    font-weight: bold;
}

.estimate {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 1050px;
    font-family: "ＭＳ Ｐ明朝";
}

.print-button {
    margin-left: 935px;
}

table {
    border-collapse: collapse;
    border: black solid 2px;
    margin-top: 5px;
    padding: 0px;
}

th {
    border: black solid 2px;
    background-color: #c0c0c0;
    text-align: center;
    font-size: 15px;
    padding: 0px;
}

td {
    border: black solid 1px;
    border-right: black solid 2px;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
}

.title {
    font-size: 25px;
}

.group {
    display: flex;
    margin-left: 300;
}

.group2 {
    display: flex;
    margin-top: 10px;
}


.group3 {
    display: flex;
}

.group4 {
    display: flex;
}

.date {
    width: 140px;
    padding: 0px;
    margin-left: 400px;
    border-bottom: black solid 1px;
    text-align: center;
    padding: auto;
    font-size: 16px;
}

.num {
    border-bottom: black solid 1px;
    margin-left: 200px;
    font-size: 16px;
}

.corp {
    border-bottom: 1px solid black;
    width: 330px;
    padding: auto;
    flex-basis: auto;
    white-space: nowrap;
    font-size: 19px;
    margin-top: -15px;
}

.language {
    margin-top: 20px;
}

.place {
    border-bottom: 1px solid black;
    width: 300px;
    font-size: 15px;
    margin-bottom: 5px;
}

.place-span1 {
    margin-left: 120px;
}

.place-span2 {
    margin-left: 110px;
}

.place-span3 {
    margin-left: 85px;
}

.goukei {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    width: 300px;
    margin-top: 25px;
    padding: 0px;
}

.price {
    margin-left: 50px;
    font-size: 20px;
}


.mycorp {
    position: relative;
    margin-left: 400px;
    margin-top: 18px;
    font-size: 15px;
}

.postal {
    margin-right: 10px;
}

.corp_name {
    font-size: 17px;
    letter-spacing: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tel {
    margin-right: 20px;
}

.image {
    position: absolute;
    margin-left: 380px;
}

.total_price {
    border-top: solid 2px black;
    border-right: solid 2px black;
}

.none {
    border-top: solid 2px black;
}

.all_total_price {
    border-top: solid 2px black;
    border-right: solid 2px black;
}

.hosoku {
    font-size: 18px;
}

.tekiyo {
    letter-spacing: 120px;
    text-indent: 120px;
}

.total_price {
    letter-spacing: 100px;
    text-indent: 100px;
    font-weight: bold;
}
