header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

table {
    white-space: nowrap;
    border-width: 2px;
    border-collapse: collapse;
    text-align: center;
}

th {
    border: solid 2px black;
}

td {
    border: solid 2px black;
}

li.post-error-list {
    color: red;
    font-weight: bold;
}

button {
    display: inline-block;
}

.select-box {
    width: 200px;
}

.add-button {
    margin-left: 500px;
}

.no-data-message {
    display: none;
    color: red;
    font-weight: bold;
}